{% extends 'base.html.twig' %}

{% block titre %}Editer formation / {{ formation.nomCourt }}{% endblock %}

{% block contenu %}
    <h2>Editer une formation</h2>
   
    {{ include('formation/_form.html.twig', {'button_label': 'Enregister les modifications'}) }}
    <br>
    {{ include('formation/_delete_form.html.twig') }}
    <br><br>
    <a class="btn btn-outline-warning" href="{{ path('formation_index') }}">Retour à la liste des formations</a>
    
    

    
{% endblock %}
