{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} / Entreprises
{% endblock %}

{% block contenu %}
    <h1> Cette page affichera la liste des entreprises proposant un stage </h1>
{% endblock %}

