{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} / Formations
{% endblock %}

{% block contenu %}
    <h1> Cette page affichera la liste des formations de l'IUT </h1>
{% endblock %}

