{% extends 'base.html.twig' %}

{% block titre %}
    {{ parent() }} / Stages
{% endblock %}

{% block contenu %}
    <h1> Cette page affichera le descriptif du stage ayant pour identifiant {{idStage}} </h1>
{% endblock %}